# Core functionality - changes here should be rare!
/src/app.py                   @abrookie
/src/backend/database.py      @abrookie
/src/backend/routers/auth.py  @abrookie

# The frontend will need refactored soon to be more object oriented.
/src/static/   @abrookie
